<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<input type="button" value="Empezar" (click)="shuffleExercise()" />
<!-- <app-select-question *ngFor="let ex of exercise" [QuestionList]="questionList" [SolutionList]="solutionList" [Test]="ex"></app-select-question> -->
<app-card-question *ngFor="let ex of exercise" [Test]="ex"></app-card-question>
<app-radio-question *ngFor="let ex of exercise" [SolutionList]="solutionList" [Test]="ex"></app-radio-question>
<app-question *ngFor="let ex of exercise" [Test]="ex"></app-question>
<app-single-select-question *ngFor="let ex of exercise" [SolutionList]="solutionList" [Test]="ex"></app-single-select-question>

<router-outlet></router-outlet>