<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<input type="button" value="Empezar" onclick="shuffleExercise()" />

<h4>Preguntas</h4>
<mat-form-field>
  <mat-label>Pregunta</mat-label>
  <mat-select>
    <mat-option *ngFor="let question of questionList" [value]="question">
      {{ question }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Solución</mat-label>
  <mat-select>
    <mat-option *ngFor="let solution of solutionList" [value]="solution">
      {{ solution }}
    </mat-option>
  </mat-select>
</mat-form-field>

<router-outlet></router-outlet>