<div class='card-question'>
    <mat-icon color="primary">{{iconResponse}}</mat-icon>
    <div class='flippable-card' [ngClass]="{'flipped':isFlipped}" (click)='isFlipped = !isFlipped'>
        <mat-card class=''>
            <mat-card-title>{{Test.Question}}</mat-card-title>
        </mat-card>
        <mat-card class='back'>
            <mat-card-title>{{Test.Solution}}</mat-card-title>
            <mat-card-actions>
                <button mat-button (click)="ValidAnswer(true);">SI</button>
                <button mat-button (click)="ValidAnswer(false);">NO</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>