<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".md" mimeType="text/plain" />
			<mimeMap fileExtension=".json" mimeType="text/json" />
			<mimeMap fileExtension=".js" mimeType="application/javascript" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<rewrite>
		<rules>
			<rule name="Index Rule" stopProcessing="true">
			<match url=".*" />
			<conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			</conditions>
			<action type="Rewrite" url="index.html" />
			</rule>
			<rule name="Redirect to https" stopProcessing="true">
				<match url=".*" />
				<conditions>
					<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
			</rule>
		</rules>
		</rewrite>
	</system.webServer>
</configuration>
